* {
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

#canvas-container {
  /**/
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  /* larger, responsive */
  height: 100vh;
  /* taller viewport */
  /* border: 5px solid #333; */
}
video,
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: scaleX(-1);
  transform-origin: center;
}

h1 {
  color: #ddd;
  text-align: center;
  margin: 8px 0 16px;
  position: absolute;
  top: 100px;
  left: 50%;
}

#video {
  display: none;
}

.status {
  position: absolute;
  float: left, bottom;
  left: 16px;
  bottom: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: #ddd;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 12px;
}

.status::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 50%;
  background: #e74c3c;
  /* red running dot */
  box-shadow: 0 0 6px #e74c3c;
  vertical-align: middle;
}
/* -----------------  */

#info {
  position: absolute;
  top: 5%;
  right: 5%;
}
#mark {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 12px;
  padding: 1rem;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
  border-radius: 50px;
  border: solid 2px rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.61);
  position: relative;
}

#ohjeet {
  display: none;
  height: auto;
  width: 5em;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  border-radius: 20px;
  border: solid 2px rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.43);
}
#info:hover #ohjeet {
  display: block;
}
