* {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
}

.liveView {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

video,
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

video {
  display: none;
}
