* {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
}

.liveView {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

video,
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

video {
  display: none;
}

h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 10;
  text-align: center;
  background: transparent;
}
#outputs {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 10;
  text-align: center;
  background: transparent;
  border: 1px red solid;
}
